<div class="jumbotron" style="margin-top:100px">
<div class="row wrapper">
  <% @results.each do |result| %>
  <div class="col-md-3 col-md-offset-1">
    <td>
    <% result_url = result["viewItemURL"] %>
    <% result_image = result["galleryURL"] %>
    <div class="cell">
    <p><%= link_to image_tag("#{result_image}", height: '100px'), result_url %></p>
    <p><%=link_to result["title"].truncate(40), result_url %></p>
    <p><%= "$" + result["sellingStatus"]["currentPrice"]["__value__"] %>
    <%=link_to "Save to Wishlist", nil  %></p>
    </div>
    </td>
  </div>
  <% end %>
</div>
</div>