<%= form_for @searchlist do |f| %>

<ul>
  <li>
    <%= check_box_tag Category.find(1)%> 
    <%= label_tag Category.find(1).name %>
  </li>
</ul>

<div class="form_field">
  <%= f.submit %>

<% end %>

