<div class="center jumbotron">
  <h1>Welcome to Jinglr</h1>

  <h2>
    The place to create your christmas wish list
  </h2><br>
<% if user_signed_in? && :search_list?%>
<p><%= link_to "New Search List", new_search_list_path %></p>
<% @searchlists.each do |searchlist| %>
<p> <%= link_to searchlist.name, searchlist %></p>
<% end %>
<% else %>
<p>Welcome to Jigglr. Click on Sign up to sign up</p>
<% end %>
</div>
