/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* universal */




body {
  padding-top: 80px;
  background-image: url("/assets/jpeg.jpg"); 
  background-attachment: fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

label {
  padding-left: 10px;
}

ul,input {
  padding-right: 20px;
}

.jumbotron {
  min-height: 500px;
  background: rgba(7, 44, 63, 0.5); 

}
.jumbotron h2, {
  line-height: 1;
  color: #FFF;
}

.jumbotron h1 {
  font-size: 3em;
  margin-bottom: 30px;
  color: #FFF;
}
.jumbotron p {
  font-size: 1.2em;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h2, h3, h4, h3 {
  line-height: 1;
  color: #CAE0FC !important;
}
a {
  color: #FFF;
}
.checkboxes {
  color: #FFF;
}
a:hover {
  color: #CAE0FC;
  text-decoration: none;
  background: transparent;
}

nav a:hover
{
  background: transparent;
}
h1 {
  font-size: 3em;
  margin-bottom: 30px;

}

h2 {
  font-size: 1.7em;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.logobig {
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-fixed-top {
  margin-top: 10px
}

a.navbar-brand hover {
  background: transparent;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* panel */

.panel-order .row {
    border-bottom: 1px solid #ccc;
}

.panel-order .row:last-child {
    border: 0px;
}

.panel-order .row .col-md-1 {
    text-align: center;
    padding-top: 15px;
}

.panel-order .row .col-md-1 img {
    width: 50px;
    max-height: 50px;
}

.panel-order .row .row {
    border-bottom: 0;
}

.panel-order .row .col-md-11 {
    border-left: 1px solid #ccc;
}

.panel-order .row .row .col-md-12 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.panel-order .row .row .col-md-12:last-child {
    font-size: 11px;
    color: #555;
    background: #efefef;
}

.panel-order .btn-group {
    margin: 0px;
    padding: 0px;
}

.panel-order .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.panel-order .panel-deading {
    margin-bottom: 0;
}

.wrapper
{
  margin-right: 100px;
  text-align: center;
}

.cell {
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  min-width: 300px;
  border-spacing: 10px;
}

.myButton {
  background-color:#44c767;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}

.wrapper a {
  text-align: center;
}

/* Buttons
================================= */

.btn-default {
  border-width: 2px;
  border: solid 1px #FFF;
  padding: 12px 22px;
  background: transparent;
  color: #CAE0FC;
}
.btn-default:hover {
  background: rgba(7, 44, 63, 0.5); 
  color: #004AAB;
  border-color: #fff;
}
.btn:active {
  box-shadow: none;
}

